# Matplotlib - 다양한 플롯

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'

### 1. 산점도(Scatter Plot)

In [2]:
import seaborn as sns
ans = sns.load_dataset('anscombe')
ans.head(3)

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58

In [3]:
ans.groupby('dataset').agg(['mean','std'])

           x                   y
        mean       std      mean       std
dataset
I        9.0  3.316625  7.500909  2.031568
II       9.0  3.316625  7.500909  2.031657
III      9.0  3.316625  7.500000  2.030424
IV       9.0  3.316625  7.500909  2.030579